Este email foi enviado por blorkut.com a pedido de <%=@from_email%>.

Podes encontar todo o conteúdo seguindo o link:
<%=@url%>

http://blorkut.com - é o que interessa
Regista-te em http://blorkut.com e encontra pessoas que se interssam pelos mesmos assuntos que tu.