<script>
//    window.opener.document.getElementById('user_image').src="";
//    window.opener.document.getElementById('user_image').src="<%=@new_url%>";
    window.opener.updatePhoto('<%=@new_url%>');  
    window.close()
</script>