<div class="positive"><div class="great_news">Parab&eacute;ns. Feed criada</div></div>
<br style="clear:both"/>

<p>A feed <b><%=@feed_name%></b> foi criada com sucesso.</p>

<p>Podes fazer a Gest&atilde;o das tuas feeds navegando at&eacute; ao teu painel de control</p>


<div>
<h1>URL da feed RSS</h1>
<br style="clear:both"/>    
<p><strong style="font-size:150%"><a href="<%=@feed_url%>"><%=@feed_url%></a>
</div>
