<html>
<head>

<title>Add User</title>
</head>

<body>
<h1>View user </h1>

<%= render :partial => 'form' %>
<%= link_to 'Back', :action => 'list_users', :locals=> {:context => "view"} %>
</body>

</html>

