hello shoing index</br>
<%=link_to "home", home_url%>


<h4>Controller: <%=controller%></h4>
<h4>Request: <%=debug(request)%></h4>
<h4>Params: <%=debug(params)%></h4>
<h4>Response: <%=debug(response)%></h4>