<div class="positive"><div class="great_news">Bem-vindo ao <%=BaseHelper.get_message("service.name")%>.</div></div>

<h2>Viva <%=@user.screen_name%>,</h2>
<div class="simple_page">
    <p>Detectamos que este &eacute; a tua primeira vez no <%=BaseHelper.get_message("service.name")%> :)</p>


<%=render :partial=>"common/new_user_login_message"%>


</div>
