<div class="warning"><div class="bad_news">Erro</div></div>

<div class="simple_page">
    
    <br/>
    <div style="font-size:130%">N&atilde;o foi possivel encontrar o utilizador com email <strong><%=@email%></strong></div>
    <br/>
    <div style="font-size:130%">Talvez ainda n&atilde;o estejas registado? <span style="font-size:200%;"><%=link_to "Regista-te agora", register_url%></span></div>
    
</div>