Viva <%=@user.screen_name%>,

O teu processo de registo no <%=BaseHelper.get_message("service.name")%> está quase completo.

O próximo passo é utilizares o seguinte código de activação para completar o registo.

Código de activação: <%=@user.activation_key%>

Copia e cola o código de activação na página de activação de registo.

Em alternativa podes utilizar o seguinte link para proceder à activação:

<%=@url%>

Obrigado,

A equipa do Logo

