<div id="header" class="header">
    <div id="header.main.menu">
        <div id="header.main.menu.first_level">
            <div class="menuEntry">Users</div>
        </div>
        <div id="header.main.menu.second_level">
            <div class="menuEntry">Create</div>
        </div>
        
    </div>
    
</div>